<div class="content">
  <div class="canvasWrapper">
    <div class="window">
      <h2>GAME MAP</h2>
      <div class="window-inside gamemap">
        <canvas id="mapViewer" style="width:100%"></canvas>
        <div class="celownik">+</div>

        <div class="buttons arrows">
          <button>&uarr;</button>
          <button>&rarr;</button>
          <button>&darr;</button>
          <button>&larr;</button>
        </div>

        <div class="buttons zoom">
          <button>+</button>
          <button>-</button>
        </div>

      </div>
    </div>
  </div>
  {{ message | safe}}
</div>


<script src="/js/index.js"></script>

<style>
  .celownik{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    color:red;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    pointer-events: none;
  }

</style>