@import 'both.scss';
$formBG: #2f2f2fb4;
a{text-decoration: none;color:#fff;}
body{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size:20px;
  margin:0;
  background-color:rgba(0, 0, 0, 0.9);
  height:100vh;
  display:flex;
  flex-direction: column;
  position: relative;

  .background{
    position:absolute;
    width:100vw;
    height:100vh;
    img{
      position:absolute;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      opacity:0;
      transition:3s;
      &.active{
        opacity:1;
      }
    }
  }

  main{
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
    .window{
      position:absolute;
      background-color: var(--background-darkest);
      border:2px solid;
      border-color:var(--border-color-outside);
      display:none;
      flex-direction: column;
      z-index:1;
      &.active{
        display:flex;
      }

      h2{
        background-color: var(--background-darkest);
        color:var(--font-ligher);
        font-size:.5rem;
        margin:0;
        text-align:center;
        padding:.2rem;
      }
      .window-inside{
        background-color:var(--background-dark);
        border: 2px solid;
        border-color: var(--border-color-inside); 
        padding:.5rem .5rem 0 .5rem;
        color:var(--font-lightest);
        b{
          font-size:.7rem;
          padding:.5rem 2rem .5rem 0;
        }
        form{
          flex-direction: column;
          // display:none;
          * > {
            padding-left:.5rem;
          }


          input[type=text], input[type=password]{
            min-width: 10rem;
            padding:5px 10px;
            margin:5px;
            // background-color:$formBG;
            background-color:var(--background-darkest);
            @extend %inFrame;
            filter: none!important;
            &:focus{
              outline:0;
            }
          }

          label{
            display:flex;
            align-items: center;
            font-size:.7rem;
            font-weight: bold;
          }

          .buttons{
            margin-top:.5rem;
            border-top:2px solid var(--background-darkest);
            padding:.5rem 0;
            display:flex;
            justify-content: flex-end;
            position:relative;
            &:before{
              content:'';
              position:absolute;
              width:100%;
              background-color:var(--background-light);
              height:1px;
              top:0;
            }
          }

          div{
            display:flex;
            justify-content: space-between;        
            gap:5px;
            >b{text-align: right;}
            .sex{
              background-color: transparent;
              display:flex;
              flex-direction: column;
              padding:0;
              legend{
                padding:0;
                width:100%;
                display:flex;
              }
              input[type=radio]{
                position:relative;
                &::after{
                  content:"";
                  width:12px;
                  height:12px;
                  position:absolute;
                  left:-2px;
                  top:-2px;
                  border-radius:50%;
                  @extend %onFrame;
                  padding:0;
                }
                &:checked::after{
                  @extend %inFrame;
                  padding:0;
                }
                &:checked::before{
                  position:absolute;
                  border-radius:50%;
                  z-index:1;
                  content:'';
                  border:2px solid #7c7c7cb4;
                  background-color:rgb(170, 170, 170);
                  // left:-0,5px;
                  // top:-1px;
                  width:6px;
                  height:6px;
                  margin:1px;
                }
              }
              margin-left:5px;
            }
          }
        }
      }
    }
  }
  footer{
    position:absolute;
    width:100%;
    height:100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    // footer{
    padding-left:50px;
    padding-bottom:50px;
    // }

    .options{
      border:2px solid;
      border-color:var(--background-light);
      background: repeating-conic-gradient(var(--background-darkest) 0% 25%, transparent 0% 50%) 50% / 3px 3px;
      border-radius: .5rem;
      padding:1rem;
      position: relative;
      display:flex;
      flex-direction: column;
      width:fit-content;
      a{
        font-weight: bold;
        font-size:.7rem;
        padding:.4rem 1.3rem;
        text-align: center;
        margin-top:.5rem;
        &:nth-child(1){
          margin-top:0;
        }
      }
    }
  }
}

// @media(min-width:720px){
//   body{
//     // background-size:30%;
//     // main{
//     //   >*{
//     //     width:20%;
//     //   }
//     // }
//     footer{
//       padding-left:50px;
//       padding-bottom:50px;
//     }
//   }
// }
// @media(orientation:landscape) and (max-width: 720px){
//   body{
//     flex-direction: row-reverse;
//     footer{
//       display:flex;
//       align-items: flex-end;
//     }
//   }
// }