$sc:#9a01013f;  // for tables second color
$tc:#b7990038;  // for tables thirth color
%inFrame{
  border: 2px solid;
  border-color: #444444 #737373 #737373 #444444;
  background-color: rgb(47, 47, 47);
  color:#AEAEAC;
}
%onFrame{
  border: 2px solid;
  border-color: #737373 #444444 #444444 #737373;
  padding:2px;
  background-color: rgb(47, 47, 47);
  color:#AEAEAC;
}
%onFrameButt{
  @extend %onFrame;
  cursor:pointer;
  &:active{
    @extend %inFrame;
  }
  &:hover{
    background-color:rgb(68, 67, 67);
  }
}
.itemContainer{
  position:relative;
  .label{
    pointer-events: none;
    position:absolute;
    top:50%;
    right:50%;
    min-width:80px;
    @extend %inFrame;
    font-size:0.7em;
    padding:5px;
    z-index:1;
    text-align:left;
    background-color: #2f2f2fb6!important;
    display:none!important;
  }
  &:hover > .label{
    display:block!important;
  }
}
// scrollbars
body{
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    @extend %inFrame;
  }
  ::-webkit-scrollbar-thumb {
    @extend %onFrame;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }  
}
.loader{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(24, 24, 24);
  z-index:2;
  h1{
    color:#fff;
  }
  .imgField{
    // border:2px dashed red;
    position: relative;
    height:fit-content;
    padding:10px;
    img{
      position:relative;
      width:100%;
      height:100%;
      z-index:2;
    }
    &:before{
      box-sizing: border-box;
      content:'';
      position:absolute;
      border: 16px solid $sc;
      border-top: 16px solid $tc;
      border-bottom: 16px solid $tc;
      border-radius: 50%;
      width:100%;
      height: 100%;
      left:0;
      top:0;
      animation: spin 2s linear infinite;
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    }

  }
  .loadProgress{
    border:1px solid rgba(255, 255, 255, 0.6);
    border-radius:5px;
    height:14px;
    .progressBar{
      border-radius:5px;
      background-color:rgb(145, 32, 32);
      width:0;
      height:100%;
    }
  }
  .loadDetails{
    font-size:0.4em;
    height:25px;
  }
}
@media (orientation:portrait){
  .loader .imgField{
    width:30vw;
    height:30vw;
  }
  .loadProgress,.loadDetails{
    width:50vw;
  }
}
@media (orientation:landscape){
  .loadProgress,.loadDetails{
    width:50vh;
  }
  .loader .imgField{
    width:30vh;
    height:30vh;
  }
}
