
%inFrame{
  border: 2px solid;
  border-color: #444444 #737373 #737373 #444444;
  background-color: rgb(47, 47, 47);
  color:#AEAEAC;
}
%onFrame{
  border: 2px solid;
  border-color: #737373 #444444 #444444 #737373;
  padding:2px;
  background-color: rgb(47, 47, 47);
  color:#AEAEAC;
}
%onFrameButt{
  border: 2px solid;
  border-color: #737373 #444444 #444444 #737373;
  padding:2px;
  // background-color: rgb(47, 47, 47);
  color:#AEAEAC;
  &:active{
    @extend %inFrame;
  }
  &:hover{
    background-color:rgb(68, 67, 67)!important;
  }
}
.eq{
  .itemContainer{
    position:relative;
    .label{
      pointer-events: none;
      // border:2px dashed red;
      position:absolute;
      top:50%;
      // width:150px!important;
      // left:-150px;
      right:50%;
      min-width:80px;
      @extend %inFrame;
      // background-color:red;
      font-size:0.7em;
      display:none;
      padding:5px;
      z-index:1;
      text-align:left;
      background-color: #2f2f2fb6!important;
      // background-opa
    }
    &:hover > .label{
      display:block;
      // border:2px dashed yellow!important;      
    }

    // .label:hover:after{
      // content:attr(data-info);
      // white-space: pre-wrap;
      // position:absolute;
      // left:-100%;
      // top:100%;
      // background-color:red;
      // z-index:2;
      // font-size:0.6em;
      // // content:'elo';
      // border:2px dashed red;
    // }
  }


}