.itemContainer .label, body ::-webkit-scrollbar-track {
  border: 2px solid;
  border-color: #444444 #737373 #737373 #444444;
  background-color: #2f2f2f;
  color: #AEAEAC;
}

body ::-webkit-scrollbar-thumb {
  border: 2px solid;
  border-color: #737373 #444444 #444444 #737373;
  padding: 2px;
  background-color: #2f2f2f;
  color: #AEAEAC;
}

.itemContainer {
  position: relative;
}

.itemContainer .label {
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 50%;
  min-width: 80px;
  font-size: 0.7em;
  display: none;
  padding: 5px;
  z-index: 1;
  text-align: left;
  background-color: #2f2f2fb6 !important;
}

.itemContainer:hover > .label {
  display: block;
}

body ::-webkit-scrollbar {
  width: 10px;
}

body ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  z-index: 2;
}

.loader h1 {
  color: #fff;
}

.loader .imgField {
  position: relative;
  height: fit-content;
  padding: 10px;
}

.loader .imgField img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.loader .imgField:before {
  box-sizing: border-box;
  content: '';
  position: absolute;
  border: 16px solid #9a01013f;
  border-top: 16px solid #b7990038;
  border-bottom: 16px solid #b7990038;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader .loadProgress {
  border: 1px solid #fff;
  border-radius: 3px;
  height: 14px;
}

.loader .loadProgress .progressBar {
  background-color: #912020;
  width: 0;
  height: 100%;
}

.loader .loadDetails {
  font-size: 0.4em;
  height: 25px;
}

@media (orientation: portrait) {
  .loader .imgField {
    width: 30vw;
    height: 30vw;
  }
  .loadProgress, .loadDetails {
    width: 50vw;
  }
}

@media (orientation: landscape) {
  .loadProgress, .loadDetails {
    width: 50vh;
  }
  .loader .imgField {
    width: 30vh;
    height: 30vh;
  }
}
