body .wrapper .gameAndConsole .gamePlane .menusButtons:active, body .wrapper .gameAndConsole .gamePlane .outFitContainer button:active, body .wrapper .menuItem0 a:active, body .popupParent .popup .closeBar div:active, body .popupParent .popup button:active, .itemContainer .label, body ::-webkit-scrollbar-track, body .wrapper .gameAndConsole .console, body .wrapper .gameAndConsole .console .messages, body .wrapper .gameAndConsole .console .messagesInput, body .wrapper .menuItem0, body .wrapper > .mainMenu, body .wrapper > .mainMenu .skills .displaySkills .progressBar {
  border: 2px solid;
  border-color: #444444 #737373 #737373 #444444;
  background-color: #2f2f2f;
  color: #AEAEAC;
}

body .wrapper .gameAndConsole .gamePlane .menusButtons, body .wrapper .gameAndConsole .gamePlane .outFitContainer button, body .wrapper .menuItem0 a, body .popupParent .popup .closeBar div, body .popupParent .popup button, body ::-webkit-scrollbar-thumb, body .wrapper .gameAndConsole .gamePlane .outFitContainer, body .wrapper .menuItem1 .healthBar, body .wrapper .menuItem1 .manaBar, body .wrapper .menuItem2 .healthBar, body .wrapper .menuItem2 .manaBar, body .wrapper > .mainMenu > div > div, body .popupParent .popup, body .popupParent .popup .closeBar {
  border: 2px solid;
  border-color: #737373 #444444 #444444 #737373;
  padding: 2px;
  background-color: #2f2f2f;
  color: #AEAEAC;
}

body .wrapper .gameAndConsole .gamePlane .menusButtons, body .wrapper .gameAndConsole .gamePlane .outFitContainer button, body .wrapper .menuItem0 a, body .popupParent .popup .closeBar div, body .popupParent .popup button {
  cursor: pointer;
}

body .wrapper .gameAndConsole .gamePlane .menusButtons:hover, body .wrapper .gameAndConsole .gamePlane .outFitContainer button:hover, body .wrapper .menuItem0 a:hover, body .popupParent .popup .closeBar div:hover, body .popupParent .popup button:hover {
  background-color: #444343;
}

.itemContainer {
  position: relative;
}

.itemContainer .label {
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 50%;
  min-width: 80px;
  font-size: 0.7em;
  display: none;
  padding: 5px;
  z-index: 1;
  text-align: left;
  background-color: #2f2f2fb6 !important;
}

.itemContainer:hover > .label {
  display: block;
}

body ::-webkit-scrollbar {
  width: 10px;
}

body ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  z-index: 2;
}

.loader h1 {
  color: #fff;
}

.loader .imgField {
  position: relative;
  height: fit-content;
  padding: 10px;
}

.loader .imgField img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.loader .imgField:before {
  box-sizing: border-box;
  content: '';
  position: absolute;
  border: 16px solid #9a01013f;
  border-top: 16px solid #b7990038;
  border-bottom: 16px solid #b7990038;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader .loadProgress {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  height: 14px;
}

.loader .loadProgress .progressBar {
  border-radius: 5px;
  background-color: #912020;
  width: 0;
  height: 100%;
}

.loader .loadDetails {
  font-size: 0.4em;
  height: 25px;
}

@media (orientation: portrait) {
  .loader .imgField {
    width: 30vw;
    height: 30vw;
  }
  .loadProgress, .loadDetails {
    width: 50vw;
  }
}

@media (orientation: landscape) {
  .loadProgress, .loadDetails {
    width: 50vh;
  }
  .loader .imgField {
    width: 30vh;
    height: 30vh;
  }
}

* {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-drag: none;
  /* Safari */
  /* Konqueror HTML */
  /* Old versions of Firefox */
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  touch-action: none;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.9);
}

body noscript {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

body button {
  background-color: #404040;
  color: #AEAEAC;
  border: 2px solid;
  border-color: #757575 #323232 #323232 #757575;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .wrapper {
  background-color: #2f2f2f;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  padding: 2px;
  height: 100%;
  width: 100%;
}

body .wrapper .handlerVertical {
  background-color: #2f2f2f;
  min-width: 10px;
  cursor: ew-resize;
}

body .wrapper .gameAndConsole {
  min-width: 50%;
  flex: 5;
  display: flex;
  flex-direction: column;
}

body .wrapper .gameAndConsole .handler {
  background-color: #2f2f2f;
  min-height: 10px;
  padding: 0;
  cursor: ns-resize;
  flex: 0 0 auto;
}

body .wrapper .gameAndConsole .gamePlane {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-color: #444444 #737373 #737373 #444444;
  padding: 2px;
  background-color: #2f2f2f;
  color: #AEAEAC;
  position: relative;
}

body .wrapper .gameAndConsole .gamePlane .gamePlaneCanvas {
  max-width: 90%;
  max-height: 90%;
}

body .wrapper .gameAndConsole .gamePlane .menusButtons {
  cursor: pointer;
  position: absolute;
  background-color: #2f2f2f;
}

body .wrapper .gameAndConsole .gamePlane .menusButtons.mainMenu {
  right: 0;
}

body .wrapper .gameAndConsole .gamePlane .menusButtons.outfit {
  left: 0;
}

body .wrapper .gameAndConsole .gamePlane .outFitContainer {
  padding: 10px;
  background-color: #5A5A5A;
  position: absolute;
  z-index: 2;
}

body .wrapper .gameAndConsole .gamePlane .outFitContainer .innerContainer {
  display: flex;
  align-items: stretch;
}

body .wrapper .gameAndConsole .gamePlane .outFitContainer .innerContainer > * {
  display: flex;
}

body .wrapper .gameAndConsole .gamePlane .outFitContainer .innerContainer .colorPicker {
  flex: 5;
  display: flex;
}

body .wrapper .gameAndConsole .gamePlane .outFitContainer .innerContainer .layerPicker {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body .wrapper .gameAndConsole .console {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

body .wrapper .gameAndConsole .console .messages {
  user-select: text;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: calc(100% - 28px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6em;
  line-height: 120%;
  font-weight: bold;
  color: #bbc412;
  background-color: #474747;
}

body .wrapper .gameAndConsole .console .messages * {
  user-select: text;
}

body .wrapper .gameAndConsole .console .messagesInput {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  outline: 0;
  height: 20px;
  background-color: #363636;
}

body .wrapper .gameAndConsole .console .messagesInput:active {
  outline: 0;
}

body .wrapper .menuItem0 {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  display: flex;
  height: 2em;
  min-width: 30%;
}

body .wrapper .menuItem0 a {
  flex: 1;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 0.8em;
  text-decoration: none;
}

body .wrapper .menuItem1, body .wrapper .menuItem2 {
  position: fixed;
  min-width: 30%;
  top: 2em;
  right: 0;
}

body .wrapper .menuItem1.menuItem2, body .wrapper .menuItem2.menuItem2 {
  top: 3em;
}

body .wrapper .menuItem1 .healthBar, body .wrapper .menuItem1 .manaBar, body .wrapper .menuItem2 .healthBar, body .wrapper .menuItem2 .manaBar {
  z-index: 10;
  height: 1em;
  color: #fff;
  background-color: #222;
}

body .wrapper .menuItem1 .healthBar .progressBar, body .wrapper .menuItem1 .manaBar .progressBar, body .wrapper .menuItem2 .healthBar .progressBar, body .wrapper .menuItem2 .manaBar .progressBar {
  mix-blend-mode: difference;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .wrapper .menuItem1 .healthBar label, body .wrapper .menuItem1 .manaBar label, body .wrapper .menuItem2 .healthBar label, body .wrapper .menuItem2 .manaBar label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body .wrapper > .mainMenu {
  margin-top: 4em;
  height: fit-content;
  min-width: 30%;
  max-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2px;
  background-color: #2f2f2f;
  color: #AEAEAC;
}

body .wrapper > .mainMenu .collapsed div {
  display: none !important;
}

body .wrapper > .mainMenu .collapsed .title {
  display: flex !important;
}

body .wrapper > .mainMenu .collapsed .title div {
  display: block !important;
}

body .wrapper > .mainMenu .title {
  width: 100%;
  background-color: #2f2f2f;
  font-size: 0.5em;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  cursor: pointer;
}

body .wrapper > .mainMenu .title div:nth-child(1) {
  text-align: right;
  flex: 1;
}

body .wrapper > .mainMenu > div > div {
  width: 100%;
}

body .wrapper > .mainMenu .row {
  display: flex;
  justify-content: center;
}

body .wrapper > .mainMenu .row > div {
  margin: 1px;
  border: 2px solid;
  border-color: #444444 #737373 #737373 #444444;
  width: 25%;
  min-width: 30px;
  min-height: 30px;
  max-width: 50px;
  max-height: 50px;
}

body .wrapper > .mainMenu .row > div:hover {
  border: 2px solid #fff;
}

body .wrapper > .mainMenu .row > div > div, body .wrapper > .mainMenu .row > div canvas {
  width: 100%;
  height: 100%;
}

body .wrapper > .mainMenu .row .picked {
  border: 2px solid green;
}

body .wrapper > .mainMenu .backpack .row {
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
}

body .wrapper > .mainMenu .backpack .row div {
  min-width: 30px;
}

body .wrapper > .mainMenu .skills > div:not(.title) {
  border: 2px solid;
  border-color: #444444 #737373 #737373 #444444;
  padding: 3px;
  font-size: 0.6em;
}

body .wrapper > .mainMenu .skills .displaySkills {
  display: flex;
  flex-direction: column;
}

body .wrapper > .mainMenu .skills .displaySkills > div {
  display: flex;
  justify-content: space-between;
}

body .wrapper > .mainMenu .skills .displaySkills .progressBar {
  padding: 0;
  background-color: #312e2e;
  position: relative;
}

body .wrapper > .mainMenu .skills .displaySkills .progressBar > div {
  z-index: 1;
  text-align: center;
  width: 100%;
  font-size: 0.7em;
}

body .wrapper > .mainMenu .skills .displaySkills .progressBar .progress {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #501616;
  height: 100%;
}

body .wrapper .mobileControls {
  min-width: 30%;
  bottom: 0;
  z-index: 2;
  border: 10px dashed rgba(0, 0, 0, 0.692);
  background-color: rgba(255, 255, 255, 0.425);
  margin: 2px;
  border-radius: 50%;
  display: none;
  flex-wrap: wrap;
}

body .wrapper .mobileControls div {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .wrapper .mobileControls .arrow {
  background-color: #292727;
  border: 5px solid rgba(255, 255, 255, 0.568);
  border-radius: 10px;
  position: relative;
}

body .wrapper .rightPanel {
  right: 0;
}

body .wrapper .leftPanel {
  left: 0;
}

body .popupParent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30vh 30vw;
  height: 40%;
  width: 40%;
  position: fixed;
  font-size: 0.8em;
}

body .popupParent .popup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.5em;
  padding: 10px 20px;
  background-color: #5A5A5A;
  color: #AEAEAC;
  z-index: 3;
}

body .popupParent .popup .closeBar {
  position: absolute;
  width: calc(100% + 4px);
  height: 5vh;
  top: -5vh;
  display: flex;
  justify-content: flex-end;
}

body .popupParent .popup .closeBar div {
  cursor: pointer;
  width: 5vh;
  padding: 2px 5px;
  background-color: #5a0f0f !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
