* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

@keyframes walk {
  0% {
    background-position: -18px -98px;
  }
  50% {
    background-position: -98px -98px;
  }
  100% {
    background-position: -178px -98px;
  }
}

body, body .wrapper main .cont .items .row, body .wrapper main .cont .monsters .row, body .wrapper main .cont .items .row .preview, body .wrapper main .cont .monsters .row .preview {
  border: 2px solid;
  border-color: #444444 #737373 #737373 #444444;
  padding: 2px;
  background-color: #2f2f2f;
  color: #AEAEAC;
}

body > header, body > header .logo, body > header .play, body nav, body aside, body footer, body nav a, body aside a, body footer a, body .wrapper main, body .wrapper main .content, body .wrapper main table, body .wrapper main table th, body .wrapper main table td, body .wrapper main .cont h2, body .wrapper main .cont h3, body .wrapper main .cont .items, body .wrapper main .cont .monsters {
  border: 2px solid;
  border-color: #737373 #444444 #444444 #737373;
  padding: 2px;
  background-color: #2f2f2f;
  color: #AEAEAC;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body a {
  text-decoration: none;
  color: #7f7ff1;
}

body > header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

body > header .logo {
  display: flex;
  align-items: center;
  padding: 5px 12px;
  padding-right: 20px;
  font-size: 0.6em;
}

body > header .play {
  background: linear-gradient(#610909, #0b3a0b);
  flex: 1;
  justify-content: center;
}

body > header .play a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

body > header a {
  color: inherit;
  display: flex;
  align-items: center;
  padding: 2%;
  justify-content: flex-start;
}

body > header a img {
  height: 4em;
  margin-right: 1em;
}

body nav, body aside, body footer {
  display: flex;
  justify-content: space-evenly;
}

body nav a, body aside a, body footer a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}

body nav a:hover, body aside a:hover, body footer a:hover {
  background-color: #444343;
  transition: 1s;
}

body .wrapper {
  position: relative;
  display: flex;
  flex: 1;
}

body .wrapper main {
  flex: 3;
  padding: 5px;
}

body .wrapper main a {
  cursor: pointer;
}

body .wrapper main .content {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.11);
}

body .wrapper main table {
  width: 100%;
}

body .wrapper main table th {
  background-color: rgba(0, 0, 0, 0.493);
}

body .wrapper main table td {
  cursor: pointer;
  background-color: transparent;
}

body .wrapper main table .listBody, body .wrapper main table .listHead {
  color: #fff;
  border: none;
}

body .wrapper main table .listBody td:nth-child(3), body .wrapper main table .listHead td:nth-child(3) {
  text-align: center;
}

body .wrapper main table .listBody td:nth-child(2), body .wrapper main table .listBody th:nth-child(2), body .wrapper main table .listHead td:nth-child(2), body .wrapper main table .listHead th:nth-child(2) {
  width: 100%;
}

body .wrapper main table .listBody td, body .wrapper main table .listHead td {
  padding: 10px;
}

body .wrapper main table .listBody th, body .wrapper main table .listHead th {
  padding: 5px 20px;
}

body .wrapper main table .listBody:nth-child(even), body .wrapper main table .listHead:nth-child(even) {
  background-color: rgba(128, 0, 0, 0.322);
}

body .wrapper main table .detailsBody > td, body .wrapper main table .detailsHead > td {
  cursor: default;
  text-align: center;
}

body .wrapper main table .detailsBody > td .spriteWrapper, body .wrapper main table .detailsHead > td .spriteWrapper {
  display: flex;
  justify-content: center;
}

body .wrapper main table .detailsBody > td .spriteWrapper .sprite, body .wrapper main table .detailsHead > td .spriteWrapper .sprite {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: -18px -98px;
  animation: walk 0.4s step-start infinite;
}

body .wrapper main table .detailsBody > td .healthBar, body .wrapper main table .detailsHead > td .healthBar {
  border: 2px solid #000;
  margin: 2%;
  border-radius: 7px;
  position: relative;
  height: 25px;
}

body .wrapper main table .detailsBody > td .healthBar div, body .wrapper main table .detailsHead > td .healthBar div {
  height: 100%;
  border-radius: 5px;
  position: absolute;
  font-size: 15px;
}

body .wrapper main table .detailsBody > td .healthBar div:nth-child(2), body .wrapper main table .detailsHead > td .healthBar div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .wrapper main table .detailsBody > td:nth-child(1), body .wrapper main table .detailsHead > td:nth-child(1) {
  width: 30%;
  background-color: rgba(0, 128, 0, 0.192);
}

body .wrapper main table .detailsBody > td:nth-child(2), body .wrapper main table .detailsHead > td:nth-child(2) {
  width: 70%;
  background-color: rgba(0, 0, 255, 0.11);
}

body .wrapper main table .detailsBody > td table, body .wrapper main table .detailsHead > td table {
  width: 100%;
  cursor: default;
}

body .wrapper main table .detailsBody > td table td, body .wrapper main table .detailsHead > td table td {
  padding: 5px;
}

body .wrapper main table .detailsBody > td table td:nth-child(1), body .wrapper main table .detailsHead > td table td:nth-child(1) {
  text-align: right;
}

body .wrapper main table .detailsBody > td table td:nth-child(2), body .wrapper main table .detailsHead > td table td:nth-child(2) {
  background-color: rgba(0, 0, 255, 0.267);
}

body .wrapper main h1 {
  padding: 0 0 5px 5px;
}

body .wrapper main h1 a {
  font-size: 0.5em;
  color: #ababeb;
}

body .wrapper main .tos {
  padding: 2%;
  padding-bottom: 5%;
}

body .wrapper main .tos .H0 {
  margin: -2em;
}

body .wrapper main .tos .H1 {
  margin: -1em;
}

body .wrapper main .tos .H2 {
  margin: 0em;
}

body .wrapper main .tos .H3 {
  margin: 1em;
}

body .wrapper main .tos .H4 {
  margin: 2em;
}

body .wrapper main .tos .H5 {
  margin: 3em;
}

body .wrapper main .cont {
  padding: 5px;
}

body .wrapper main .cont h2 {
  padding: 5px 10px;
  cursor: pointer;
}

body .wrapper main .cont h3 {
  cursor: pointer;
  padding-left: 20px;
  margin: 5px;
}

body .wrapper main .cont div > div {
  padding-left: 30px;
}

body .wrapper main .cont img {
  width: 80%;
  margin: 5% 10%;
}

body .wrapper main .cont .items, body .wrapper main .cont .monsters {
  background-color: transparent;
}

body .wrapper main .cont .items .row, body .wrapper main .cont .monsters .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body .wrapper main .cont .items .row .preview, body .wrapper main .cont .monsters .row .preview {
  position: relative;
  margin: 10px;
}

body .wrapper main .cont .items .stats, body .wrapper main .cont .monsters .stats {
  padding: 5px 20px;
  flex: 1;
}

body .wrapper main .cont .items > div, body .wrapper main .cont .monsters > div {
  display: flex;
  flex-direction: row-reverse;
}

body aside {
  position: sticky;
  top: 0;
}

@media (max-width: 720px) {
  body .wrapper {
    flex-direction: column-reverse;
  }
  nav {
    order: 1;
  }
}

@media (min-width: 720px) {
  .wrapper {
    width: 60%;
    margin-left: 20%;
  }
  nav, aside {
    flex-direction: column;
    max-height: 20vh;
  }
}
