body > header .logo:active, body > header .play a:active, body .wrapper main > table .listBody:active, body .wrapper main .content.items table th:active:not(th:nth-child(1)), body .wrapper main .content.monsters table th:active:not(th:nth-child(1)), body nav a:active, body aside a:active, body footer a:active, body .cookiesPopUp span:active, .itemContainer .label, body ::-webkit-scrollbar-track, body, body .wrapper main > table .detailsBody .eq .allFields > div, body .wrapper main > table .detailsHead .eq .allFields > div, body .wrapper main > table .detailsBody > td, body .wrapper main > table .detailsHead > td {
  border: 2px solid;
  border-color: #444444 #737373 #737373 #444444;
  background-color: #2f2f2f;
  color: #AEAEAC;
}

body > header .logo, body > header .play a, body .wrapper main > table .listBody, body .wrapper main .content.items table th:not(th:nth-child(1)), body .wrapper main .content.monsters table th:not(th:nth-child(1)), body nav a, body aside a, body footer a, body .cookiesPopUp span, body ::-webkit-scrollbar-thumb, body > header, body > header .play, body .wrapper main, body .wrapper main .content, body .wrapper main > table, body .wrapper main > table th, body .wrapper main .content.items table, body .wrapper main .content.monsters table, body .wrapper main article, body nav, body aside, body footer, body .cookiesPopUp {
  border: 2px solid;
  border-color: #737373 #444444 #444444 #737373;
  padding: 2px;
  background-color: #2f2f2f;
  color: #AEAEAC;
}

body > header .logo, body > header .play a, body .wrapper main > table .listBody, body .wrapper main .content.items table th:not(th:nth-child(1)), body .wrapper main .content.monsters table th:not(th:nth-child(1)), body nav a, body aside a, body footer a, body .cookiesPopUp span {
  cursor: pointer;
}

body > header .logo:hover, body > header .play a:hover, body .wrapper main > table .listBody:hover, body .wrapper main .content.items table th:hover:not(th:nth-child(1)), body .wrapper main .content.monsters table th:hover:not(th:nth-child(1)), body nav a:hover, body aside a:hover, body footer a:hover, body .cookiesPopUp span:hover {
  background-color: #444343;
}

.itemContainer {
  position: relative;
}

.itemContainer .label {
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 50%;
  min-width: 80px;
  font-size: 0.7em;
  display: none;
  padding: 5px;
  z-index: 1;
  text-align: left;
  background-color: #2f2f2fb6 !important;
}

.itemContainer:hover > .label {
  display: block;
}

body ::-webkit-scrollbar {
  width: 10px;
}

body ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

@keyframes walk {
  0% {
    background-position: -18px -98px;
  }
  50% {
    background-position: -98px -98px;
  }
  100% {
    background-position: -178px -98px;
  }
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body a {
  text-decoration: none;
  color: #7f7ff1;
}

body > header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

body > header .logo {
  display: flex;
  align-items: center;
  padding: 5px 12px;
  padding-right: 20px;
  font-size: 0.6em;
}

body > header .logo p {
  margin: 0;
  font-weight: bold;
  font-size: 2em;
}

body > header .play {
  flex: 1;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

body > header .play a {
  background: linear-gradient(#B79900, #9A0102, #9A0102, #B79900);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

body > header a {
  color: inherit;
  display: flex;
  align-items: center;
  padding: 2%;
  justify-content: flex-start;
}

body > header a img {
  height: 4em;
  width: 4em;
  margin-right: 1em;
}

body .wrapper {
  position: relative;
  display: flex;
  flex: 1;
}

body .wrapper main {
  flex: 3;
  padding: 5px;
}

body .wrapper main a {
  cursor: pointer;
}

body .wrapper main pre {
  white-space: break-spaces;
}

body .wrapper main .content {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.11);
}

body .wrapper main .content h1 {
  padding: 0;
}

body .wrapper main .content img {
  max-width: 100%;
}

body .wrapper main > table {
  border-spacing: 0;
  width: 100%;
}

body .wrapper main > table th {
  background-color: rgba(0, 0, 0, 0.493);
}

body .wrapper main > table .listBody {
  cursor: pointer;
}

body .wrapper main > table .listBody, body .wrapper main > table .listHead {
  display: flex;
  width: 100%;
}

body .wrapper main > table .listBody td, body .wrapper main > table .listBody th, body .wrapper main > table .listHead td, body .wrapper main > table .listHead th {
  padding: 5px 20px;
}

body .wrapper main > table .listBody td:nth-child(2), body .wrapper main > table .listBody th:nth-child(2), body .wrapper main > table .listHead td:nth-child(2), body .wrapper main > table .listHead th:nth-child(2) {
  width: 60%;
}

body .wrapper main > table .listBody td:nth-child(3), body .wrapper main > table .listBody td:nth-child(1), body .wrapper main > table .listBody th:nth-child(3), body .wrapper main > table .listBody th:nth-child(1), body .wrapper main > table .listHead td:nth-child(3), body .wrapper main > table .listHead td:nth-child(1), body .wrapper main > table .listHead th:nth-child(3), body .wrapper main > table .listHead th:nth-child(1) {
  text-align: center;
  width: 20%;
}

body .wrapper main > table .listBody td:nth-child(2), body .wrapper main > table .listHead td:nth-child(2) {
  border-left: 2px solid #737373;
  border-right: 2px solid #737373;
}

body .wrapper main > table .listBody:nth-child(even), body .wrapper main > table .listHead:nth-child(even) {
  background-color: #9a01013f !important;
}

body .wrapper main > table .listBody:nth-child(odd), body .wrapper main > table .listHead:nth-child(odd) {
  background-color: #b7990038 !important;
}

body .wrapper main > table .listBody th, body .wrapper main > table .listHead th {
  background-color: #2f2f2f !important;
}

body .wrapper main > table .detailsBody .eq, body .wrapper main > table .detailsHead .eq {
  padding: 2%;
}

body .wrapper main > table .detailsBody .eq .allFields, body .wrapper main > table .detailsHead .eq .allFields {
  margin: 0 auto;
  display: grid;
  width: 150px;
  grid-template-areas: "nc hd bp" "lh ch rh" ". lg ." ". ft .";
}

body .wrapper main > table .detailsBody .eq .allFields > div, body .wrapper main > table .detailsHead .eq .allFields > div {
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
}

body .wrapper main > table .detailsBody .eq .allFields > div canvas, body .wrapper main > table .detailsHead .eq .allFields > div canvas {
  min-width: 50%;
  min-height: 50%;
  max-width: 100%;
  max-height: 100%;
}

body .wrapper main > table .detailsBody .quests, body .wrapper main > table .detailsHead .quests {
  padding: 2%;
}

body .wrapper main > table .detailsBody .quests div, body .wrapper main > table .detailsHead .quests div {
  text-align: left;
  padding: 2%;
}

body .wrapper main > table .detailsBody > td, body .wrapper main > table .detailsHead > td {
  cursor: default;
  text-align: center;
}

body .wrapper main > table .detailsBody > td .spriteWrapper, body .wrapper main > table .detailsHead > td .spriteWrapper {
  display: flex;
  justify-content: center;
}

body .wrapper main > table .detailsBody > td .spriteWrapper .sprite, body .wrapper main > table .detailsHead > td .spriteWrapper .sprite {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: -18px -98px;
  animation: walk 0.4s step-start infinite;
}

body .wrapper main > table .detailsBody > td .healthBar, body .wrapper main > table .detailsBody > td .manaBar, body .wrapper main > table .detailsHead > td .healthBar, body .wrapper main > table .detailsHead > td .manaBar {
  border: 2px solid #000;
  margin: 2%;
  border-radius: 7px;
  position: relative;
  height: 25px;
}

body .wrapper main > table .detailsBody > td .healthBar div, body .wrapper main > table .detailsBody > td .manaBar div, body .wrapper main > table .detailsHead > td .healthBar div, body .wrapper main > table .detailsHead > td .manaBar div {
  height: 100%;
  border-radius: 5px;
  position: absolute;
  font-size: 15px;
}

body .wrapper main > table .detailsBody > td .healthBar div:nth-child(2), body .wrapper main > table .detailsBody > td .manaBar div:nth-child(2), body .wrapper main > table .detailsHead > td .healthBar div:nth-child(2), body .wrapper main > table .detailsHead > td .manaBar div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .wrapper main > table .detailsBody > td .healthBar, body .wrapper main > table .detailsHead > td .healthBar {
  background-color: #206113;
}

body .wrapper main > table .detailsBody > td .manaBar, body .wrapper main > table .detailsHead > td .manaBar {
  background-color: #0c3181;
}

body .wrapper main > table .detailsBody > td:nth-child(1), body .wrapper main > table .detailsHead > td:nth-child(1) {
  width: 30%;
  background-color: #9a01013f;
  border-right: 0;
}

body .wrapper main > table .detailsBody > td:nth-child(2), body .wrapper main > table .detailsHead > td:nth-child(2) {
  width: 70%;
  background-color: #b7990038;
  border-left: 0;
}

body .wrapper main > table .detailsBody > td table, body .wrapper main > table .detailsHead > td table {
  background-color: #2f2f2f;
  width: 100%;
  cursor: default;
}

body .wrapper main > table .detailsBody > td table td, body .wrapper main > table .detailsHead > td table td {
  padding: 5px;
}

body .wrapper main > table .detailsBody > td table td:nth-child(1), body .wrapper main > table .detailsHead > td table td:nth-child(1) {
  text-align: right;
  background-color: #9a01013f;
  padding-right: 10px;
}

body .wrapper main > table .detailsBody > td table td:nth-child(2), body .wrapper main > table .detailsHead > td table td:nth-child(2) {
  background-color: #b7990038;
}

body .wrapper main h1 {
  padding: 0 0 5px 5px;
}

body .wrapper main h1 a {
  color: inherit;
}

body .wrapper main .content .scrollWrapper {
  overflow-x: auto;
}

body .wrapper main .content.items table, body .wrapper main .content.monsters table {
  border-spacing: 0;
  width: 100%;
}

body .wrapper main .content.items table th, body .wrapper main .content.monsters table th {
  background-color: #2f2f2f;
  padding: 0 !important;
}

body .wrapper main .content.items table th.items:nth-child(1), body .wrapper main .content.monsters table th.items:nth-child(1) {
  min-width: 44px;
}

body .wrapper main .content.items table th.monsters:nth-child(1), body .wrapper main .content.monsters table th.monsters:nth-child(1) {
  width: 84px;
}

body .wrapper main .content.items table th:nth-child(1), body .wrapper main .content.monsters table th:nth-child(1) {
  border: 0;
  background-color: transparent;
}

body .wrapper main .content.items table td, body .wrapper main .content.monsters table td {
  border: 2px solid #585555;
}

body .wrapper main .content.items table td:not(td:nth-child(2)), body .wrapper main .content.monsters table td:not(td:nth-child(2)) {
  text-align: center;
}

body .wrapper main .content.items table td:not(td:nth-child(1)), body .wrapper main .content.monsters table td:not(td:nth-child(1)) {
  border-left: 0;
}

body .wrapper main .content.items table td:not(td:nth-last-child(1)), body .wrapper main .content.monsters table td:not(td:nth-last-child(1)) {
  border-right: 0;
}

body .wrapper main .content.items table td div, body .wrapper main .content.monsters table td div {
  text-align: center;
  font-style: italic;
}

body .wrapper main .content.items table.monsters td:nth-child(1), body .wrapper main .content.monsters table.monsters td:nth-child(1) {
  min-height: 80px;
}

body .wrapper main .content.items .sprite {
  height: 46px;
}

body .wrapper main .content.monsters .sprite {
  height: 86px;
}

body .wrapper main .content.monsters .sprite div {
  margin: 0 !important;
}

body .wrapper main article {
  padding: 10px;
}

body .wrapper main article > a {
  font-size: 1.5em;
}

body .wrapper main article p {
  margin: 0;
}

body .wrapper main article:not(article:nth-last-child(1)) {
  margin-bottom: 5px;
}

body nav, body aside, body footer {
  display: flex;
  justify-content: space-evenly;
}

body nav a, body aside a, body footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}

body footer a {
  flex: 1;
}

body aside {
  position: sticky;
  top: 0;
}

body .cookiesPopUp {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2% 5%;
  justify-content: space-between;
  align-items: center;
}

body .cookiesPopUp p {
  margin: 0;
}

body .cookiesPopUp span {
  cursor: pointer;
  padding: 5px 10px;
}

@media (max-width: 720px) {
  body .wrapper {
    flex-direction: column-reverse;
  }
  nav {
    order: 1;
  }
  aside {
    flex-wrap: wrap;
  }
  nav a, aside a {
    flex: 1;
  }
}

@media (min-width: 720px) {
  .wrapper {
    width: 60%;
    margin-left: 20%;
  }
  .wrapper .items table th, .wrapper .monsters table th {
    top: 0 !important;
  }
  nav, aside {
    flex-direction: column;
    height: fit-content;
    justify-content: flex-start !important;
    position: sticky;
    top: 0;
  }
  nav a, aside a {
    padding: 10px 15px !important;
    margin: 5px;
  }
  nav a:not(a:nth-last-child(1)), aside a:not(a:nth-last-child(1)) {
    margin-bottom: 0px;
  }
}
