*{box-sizing: border-box;}
@for $i from 1 to 6 {h#{$i}{margin:0;}}
@keyframes walk {
  0%   {background-position:-18px -98px;}
  50%  {background-position:-98px -98px;}
  // 25%  {background-position:-98px -98px;}
  // 50%  {background-position:-178px -98px;}
  100% { background-position: -178px -98px;}
}
$tw:rgba(255, 255, 255, 0.096);
$bodyBg:rgb(90, 27, 27);
$hbg:rgba(0, 0, 0, 0.5);

%inFrame{
  border: 2px solid;
  border-color: #444444 #737373 #737373 #444444;
  padding:2px;
  background-color: rgb(47, 47, 47);
  color:#AEAEAC;
}
%onFrame{
  border: 2px solid;
  border-color: #737373 #444444 #444444 #737373;
  padding:2px;
  background-color: rgb(47, 47, 47);
  color:#AEAEAC;
}
html{height:100%;}
body{
  @extend %inFrame;
  margin:0;
  display:flex;
  flex-direction: column;
  min-height:100%;
  a{
    text-decoration:none;
    // color:inherit;
    color:rgb(127, 127, 241);
  }
  >header{
    @extend %onFrame;
    // background-color:$hbg;
    display:flex;
    justify-content: space-between;
    position:relative;
    .logo{
      @extend %onFrame;
      display:flex;
      align-items: center;
      padding: 5px 12px;
      padding-right:20px;
      font-size: 0.6em;
    }
    .play{
      @extend %onFrame;
      flex:1;
      justify-content: center;
      display:flex;
      justify-content: center;
      align-items: center;
      a{
        background: linear-gradient(#B79900,#9A0102,#9A0102,#B79900);
        @extend %onFrame;
        width:100%;
        height:100%;
        // padding:10px 20% ;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size:1.5em;
      }
    }
    a{
      // border:2px dashed red;
      color:inherit;
      display:flex;
      align-items: center;
      padding:2%;
      // border:2px dashed #fff;
      justify-content: flex-start;
      img{
        height:4em;
        margin-right:1em;
      }
  
    }
   
  }
  nav,aside,footer{
    @extend %onFrame;
    display:flex;
    justify-content: space-evenly;
    a{
      flex:1;
      display:flex;
      justify-content: center;
      align-items: center;
      @extend %onFrame;
      color:inherit;
      &:hover{
        background-color:rgb(68, 67, 67);
        transition:1s;
      }
    }
  }
  .wrapper{
    position:relative;
    display:flex;
    flex:1;
    main{
      a{cursor:pointer;}
      pre{white-space: break-spaces;}
      @extend %onFrame;
      flex:3;
      padding:5px;
      // everywhere 
      .content{
        h1{padding:0;}
        padding:10px;
        @extend %onFrame;
        background-color: rgba(255, 255, 255, 0.11);
      }
      // players 
      table{
        @extend %onFrame;
        width:100%;
        th{
          @extend %onFrame;
          background-color:  rgba(0, 0, 0, 0.493);
        }
        td{
          // cursor:pointer;
          @extend %onFrame;
          background-color:transparent;
        }
        // Player list
        .listBody,.listHead{ // tr's from lists
          color:#fff;
          border:none;
          td:nth-child(3){
            text-align:center;
          }
          td:nth-child(2),th:nth-child(2){
            width:100%;
          }
          td{padding:10px;}
          th{padding:5px 20px;background-color:rgb(41, 41, 41);}
          &:nth-child(even){
            // background-color:rgba(13, 51, 16, 0.322);
            background-color:#9a010157;
          }
          &:nth-child(odd){background-color: #b7990052;}
        }
        // Player details
        .detailsBody, .detailsHead{
          // eq display
          .eq{
            padding:2%;
            .allFields{
              margin:0 auto;
              display:grid;
              width:150px;
              grid-template-areas: 
              "nc hd bp"
              "lh ch rh"
               ". lg ."
               ". ft ."
              ;
              div{
                @extend %inFrame;
                width:50px;
                height:50px;
                display:grid;
                place-items:center;
                canvas{
                  min-width: 50%;
                  min-height: 50%;
                  max-width: 100%;
                  max-height: 100%;
                }
              }
            }
          }
          .quests{
            @extend %onFrame;
            padding:2%;
            div{
              background-color: rgb(26, 54, 28);
              @extend %onFrame;
              text-align: left;
              padding:2%;
            }
          }
          >td{
            cursor: default;
            text-align: center;
            .spriteWrapper{
              display:flex;
              justify-content: center;
              .sprite{
                width:50px;
                height:50px;
                background-repeat:no-repeat;
                background-position:-18px -98px;
                animation: walk 0.4s step-start infinite;
              }  
            }
            .healthBar,.manaBar{
              border:2px solid #000;
              margin:2%;
              border-radius: 7px;
              position:relative;
              height:25px;
              div{
                height:100%;
                border-radius:5px;
                position:absolute;
                font-size:15px;
                &:nth-child(2){ // label
                  width:100%;
                  display:flex;
                  justify-content: center;
                  align-items: center;
                }
              }

            }
            .healthBar{background-color: rgb(32, 97, 19);}
            .manaBar{background-color: rgb(12, 49, 129);}
            &:nth-child(1){
              width:30%;
              background-color:rgba(0, 128, 0, 0.192);
            }
            &:nth-child(2){
              width:70%;
              background-color:rgba(0, 0, 255, 0.11);
            }
            table{
              // width:60%;
              // margin-left:20%;
              width:100%;
              cursor:default;
              td{
                // cursor:default;
                padding:5px;
                &:nth-child(1){
                  text-align:right;
                }
                &:nth-child(2){
                  background-color:rgba(0, 0, 255, 0.267);
                }
              }
            }
          }
        }
      }
      h1{
        padding:0 0 5px 5px ;
        // line-height: 0.6em;
        a{font-size:0.5em;color:rgb(171, 171, 235);}
      }

      // Libary
      .tos{
        // border:2px dashed #fff;
        padding:2%;
        padding-bottom:5%;
        @for $i from 0 to 6 {.H#{$i}{$x:$i - 2;margin:#{$x}em;}}
      }
      .cont{
        padding:5px;
        h2{
          padding:5px 10px;
          @extend %onFrame;
          cursor:pointer;
        }
        h3{
          cursor:pointer;
          @extend %onFrame;
          padding-left:20px;
          margin:5px;
        }
        div > div{
          padding-left:30px;
        }
        img{
          width:80%;
          // margin-left:10%;
          // margin-right:10%;
          margin:5% 10%;
        }
        .items,.monsters{
          @extend %inFrame;
          background-color: transparent;
          .row{
            @extend %inFrame;
            margin-bottom: 1em;
          
            // border:2px dashed red;
            display:flex;
            justify-content: flex-end;
            // justify-content: space-around;
            align-items: center;
            .preview{
              @extend %inFrame;

              position:relative;
              margin:11px;
              // width:30px;
              
            }
            position:relative;
            $titleSize:2em;
            padding-top:$titleSize;
            h4{
              position:absolute;
              display:flex;
              align-items: center;
              padding-left:0.8em;
              width:100%;
              @extend %onFrame;
              left:0;
              top:0;
              height:$titleSize;
            }
            ul{
              flex:1;
              margin:0;
              // border:2px dashed red;
              @extend %inFrame;
              list-style-type: none;
              // padding:1em;
              padding:0.5em;
              // li{
              // }
            }

          }
          .stats{
            padding:5px 20px;
            // flex:1;
          }
          >div{
            display: flex;
            flex-direction: row-reverse;
  
          }
        }        

      }

    }

  }
  aside{
    position:sticky;
    top:0;
  }
}

@media (max-width:720px){
  body .wrapper{
    flex-direction: column-reverse;
  }
  nav{ order: 1;}
}
@media (min-width:720px){
  .wrapper{
    width:60%;
    margin-left:20%;
  }
  nav,aside{
    flex-direction: column;
    max-height:20vh;
  }
}