* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

@keyframes walk {
  0% {
    background-position: -18px -98px;
  }
  50% {
    background-position: -98px -98px;
  }
  100% {
    background-position: -178px -98px;
  }
}

html {
  height: 100%;
}

body {
  background-color: #5a1b1b;
  color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body a {
  text-decoration: none;
  color: #7f7ff1;
}

body > header {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

body > header::after {
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
}

body > header > a {
  color: inherit;
  display: flex;
  align-items: center;
  padding: 2%;
  justify-content: flex-start;
}

body > header > a img {
  height: 4em;
  margin-right: 1em;
}

body > header > nav {
  display: flex;
  justify-content: space-evenly;
  margin: 0 2%;
  gap: 2%;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.096);
  border-radius: 7px;
}

body > header > nav a {
  color: inherit;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  box-shadow: 2px 2px 2px 2px rgba(255, 0, 0, 0.541);
}

body > header > nav a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: 1s;
}

body .wrapper {
  position: relative;
  padding: 2%;
  display: flex;
  flex: 1;
}

body .wrapper main {
  position: relative;
  background-color: rgba(255, 255, 255, 0.096);
  flex: 3;
  padding: 3%;
}

body .wrapper main form {
  background-color: rgba(255, 255, 255, 0.671);
  color: #000;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.493);
  border-radius: 7px;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

body .wrapper main form input[type=text] {
  padding: 10px;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.493);
  background-color: rgba(255, 255, 255, 0.445);
  outline: none;
  border: none;
  font-size: 1.3em;
  text-align: center;
}

body .wrapper main form input[type=submit] {
  padding: 30px 60px;
  border-radius: 7px;
  border: 2px solid #fff;
  color: #fff;
  font-weight: bolder;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.445);
}

body .wrapper main table {
  width: 100%;
}

body .wrapper main table .listBody, body .wrapper main table .listHead {
  color: #fff;
  border: none;
}

body .wrapper main table .listBody td:nth-child(3), body .wrapper main table .listHead td:nth-child(3) {
  text-align: center;
}

body .wrapper main table .listBody td:nth-child(2), body .wrapper main table .listBody th:nth-child(2), body .wrapper main table .listHead td:nth-child(2), body .wrapper main table .listHead th:nth-child(2) {
  width: 100%;
}

body .wrapper main table .listBody td, body .wrapper main table .listHead td {
  padding: 10px;
}

body .wrapper main table .listBody th, body .wrapper main table .listHead th {
  padding: 5px 20px;
}

body .wrapper main table .listHead {
  background-color: rgba(0, 0, 0, 0.356);
}

body .wrapper main table .listBody {
  cursor: pointer;
  background-color: rgba(0, 0, 255, 0.329);
}

body .wrapper main table .listBody:nth-child(even) {
  background-color: rgba(255, 0, 0, 0.288);
}

body .wrapper main table .detailsBody, body .wrapper main table .detailsHead {
  background-color: rgba(255, 255, 0, 0.151);
}

body .wrapper main table .detailsBody > td, body .wrapper main table .detailsHead > td {
  text-align: center;
}

body .wrapper main table .detailsBody > td .spriteWrapper, body .wrapper main table .detailsHead > td .spriteWrapper {
  display: flex;
  justify-content: center;
}

body .wrapper main table .detailsBody > td .spriteWrapper .sprite, body .wrapper main table .detailsHead > td .spriteWrapper .sprite {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: -18px -98px;
  animation: walk 0.4s step-start infinite;
}

body .wrapper main table .detailsBody > td .healthBar, body .wrapper main table .detailsHead > td .healthBar {
  border: 2px solid #000;
  margin: 2%;
  border-radius: 7px;
  position: relative;
  height: 25px;
}

body .wrapper main table .detailsBody > td .healthBar div, body .wrapper main table .detailsHead > td .healthBar div {
  height: 100%;
  border-radius: 5px;
  position: absolute;
  font-size: 15px;
}

body .wrapper main table .detailsBody > td .healthBar div:nth-child(2), body .wrapper main table .detailsHead > td .healthBar div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .wrapper main table .detailsBody > td:nth-child(1), body .wrapper main table .detailsHead > td:nth-child(1) {
  width: 30%;
  background-color: rgba(0, 128, 0, 0.486);
}

body .wrapper main table .detailsBody > td:nth-child(2), body .wrapper main table .detailsHead > td:nth-child(2) {
  width: 70%;
  background-color: rgba(0, 0, 255, 0.295);
}

body .wrapper main table .detailsBody > td table, body .wrapper main table .detailsHead > td table {
  width: 60%;
  margin-left: 20%;
}

body .wrapper main table .detailsBody > td table td, body .wrapper main table .detailsHead > td table td {
  width: 50%;
  padding: 5px;
}

body .wrapper main table .detailsBody > td table td:nth-child(1), body .wrapper main table .detailsHead > td table td:nth-child(1) {
  text-align: right;
}

body .wrapper main table .detailsBody > td table td:nth-child(2), body .wrapper main table .detailsHead > td table td:nth-child(2) {
  background-color: rgba(0, 0, 255, 0.267);
}

body .wrapper main h1 {
  line-height: 0.6em;
}

body .wrapper main h1 a {
  font-size: 0.5em;
  color: #ababeb;
}

body .wrapper main .tos {
  padding: 2%;
  padding-bottom: 5%;
}

body .wrapper main .tos .H0 {
  margin: -2em;
}

body .wrapper main .tos .H1 {
  margin: -1em;
}

body .wrapper main .tos .H2 {
  margin: 0em;
}

body .wrapper main .tos .H3 {
  margin: 1em;
}

body .wrapper main .tos .H4 {
  margin: 2em;
}

body .wrapper main .tos .H5 {
  margin: 3em;
}

body .wrapper main .cont img {
  width: 80%;
  margin: 5% 10%;
}

body .wrapper main .cont h3 {
  margin-top: 10%;
}

body .wrapper aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 3%;
  padding-bottom: 0;
  position: sticky;
  top: 0;
}

body footer {
  background-color: #000;
  padding: 5%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 720px) {
  body .wrapper {
    flex-direction: column;
  }
}

@media (min-width: 1000px) {
  .wrapper {
    width: 60%;
    margin-left: 20%;
  }
}
