* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  /* iOS Safari */
  /* Safari */
  /* Konqueror HTML */
  /* Old versions of Firefox */
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  touch-action: none;
}

body {
  color: #fff;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.9);
}

body noscript {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

body .loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #353535;
  z-index: 2;
}

body .loader img {
  max-width: 50%;
  max-height: 50%;
}

body button {
  padding: 2%;
  width: 50px;
  height: 15px;
  font-size: 10px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .wrapper {
  position: fixed;
  left: 0;
  top: 0;
  display: grid;
  align-items: end;
  justify-items: center;
  grid-template-areas: "gp gp" "lp rp";
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-end;
}

body .wrapper .gamePlane {
  background-color: rgba(0, 0, 0, 0.2);
  grid-area: gp;
  order: 1;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .wrapper .gamePlane canvas {
  border: 2px dashed #535345;
}

body .wrapper .mobileControls {
  z-index: 2;
  border: 10px dashed rgba(0, 0, 0, 0.692);
  background-color: rgba(255, 255, 255, 0.425);
  margin: 2px;
  border-radius: 50%;
  width: 47vw;
  height: 47vw;
  right: 0;
  bottom: 0;
  display: none;
  flex-wrap: wrap;
  -webkit-touch-callout: none;
  /* iOS Safari */
  /* Safari */
  /* Konqueror HTML */
  /* Old versions of Firefox */
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body .wrapper .mobileControls div {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .wrapper .mobileControls .arrow {
  background-color: #292727;
  border: 5px solid rgba(255, 255, 255, 0.568);
  border-radius: 10px;
  position: relative;
}

body .wrapper .rightPanel {
  order: 3;
  grid-area: rp;
}

body .wrapper .leftPanel {
  grid-area: lp;
  left: 0;
  order: 2;
}

@media (orientation: landscape) {
  body .wrapper {
    flex-wrap: wrap;
    grid-template-areas: "lp gp rp";
  }
  body .wrapper .mobileControls {
    width: 25vw;
    height: 25vw;
    position: absolute;
  }
  body .wrapper .gamePlane {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    position: fixed;
    left: 0;
  }
  body .wrapper .gamePlane canvas {
    height: 90vh;
    width: 90vh;
  }
}

.loginPage {
  height: 100vh;
  padding: 10%;
  font-size: 0.9em;
}

.loginPage a {
  text-decoration: none;
  color: #fff;
}

.loginPage main {
  background-image: url("../img/logos/logo.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loginPage main > * {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5%;
}

.loginPage main form {
  display: none;
  flex-direction: column;
}

.loginPage main form div {
  display: flex;
  justify-content: space-between;
  margin: 1px;
  padding: 5px 10px;
  gap: 5px;
}

.loginPage main form div > * {
  width: 100%;
}

.loginPage main form div > b {
  text-align: right;
}

.loginPage main form div:not(.additional) {
  background-color: rgba(255, 255, 255, 0.2);
}

.loginPage main form div .sex {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.loginPage main form div .sex legend {
  padding: 0;
  width: 100%;
  display: flex;
}

.loginPage main form div .sex legend input {
  margin: auto 0;
}

.loginPage main form div .sex legend label {
  width: 100%;
}

.loginPage main .message {
  text-align: center;
  padding-bottom: 0;
}

.loginPage main .additional {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
}
