<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{name}} account</title>
  <link rel="shortcut icon" href="/img/favicon.ico?version={{version}}" type="image/x-icon">
  <link rel="stylesheet" href="/style/account.css?version={{version}}">
  <link rel="stylesheet" href="/style/both.css?version={{version}}">
  <script src="/js/functions.js?version={{version}}"></script>
  <link rel="manifest" href="/json/manifest.json?v={{version}}">

  {# TODO: MAKE COMMON HEAD FILE #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  
  {{ js | safe }}
</head>
<body>
  <script src="/js/gameDetails.js?v={{version}}"></script>
  {# <script src="/js/accountgame.js?version={{version}}"></script> #}
  <div class="background">
    <img src="/img/acc_page/1.webp" alt="background 1" class="active">
    <img src="/img/acc_page/2.webp" alt="background 2">
    <img src="/img/acc_page/3.webp" alt="background 3">
    <img src="/img/acc_page/4.webp" alt="background 4">
    <img src="/img/acc_page/5.webp" alt="background 5">
    <img src="/img/acc_page/6.webp" alt="background 6">
    <img src="/img/acc_page/7.webp" alt="background 7">
    <img src="/img/acc_page/8.webp" alt="background 8">
    <img src="/img/acc_page/9.webp" alt="background 9">
  </div>

  <main>
    <noscript>
      You need enable javascript to make this page work.
    </noscript>
    <div class="window {% if action == 'login' %}active{% endif %}" id="login">
      <h2>{{action}}</h2>
      <div class="window-inside">

        <div class="message">{{ message | safe}}</div>
        {# <form action="/acc/login" method="post"> #}
        <form action="/game" method="post">
          <div class="nick">
            <label for="nick">Username:</label>
            <input type="text" id="nick" name="nick" placeholder="nick">
          </div>
          <div class="pass">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="password">
          </div>
          <div class="buttons">
            <input type="submit" value="Ok" name="type">  
            <a href="/acc/" class="btn">Cancel</a>
          </div>
        </form>

      </div>
    </div>
    <div class="window {% if action == 'register' %}active{% endif %}" id="register">
      <h2>{{action}}</h2>
      <div class="window-inside">
        {{ message | safe }}

        <form action="/acc/register" method="post">
          <div class="nick">
            <input type="text" placeholder="nick" name="nick">
          </div>
          <div class="pass">
            <input type="password" name="password" placeholder="password">
          </div>
          <div class="pass">
            <input type="text" placeholder="email" name="email">
          </div>
          <div class="pass">
            <div class="sex">
              <legend>
                <input type="radio" name="sex" value="male" id="male" checked >
                <label for="male">male</label>
              </legend>
              <legend>
                <input type="radio" name="sex" value="female" id="female">  
                <label for="female">female</label>
              </legend>
            </div>
          </div>
          <div class="buttons">
            <input type="submit" value="Register" name="type">
            <a href="/acc/" class="btn">Cancel</a>
          </div>
        </form>

      </div>
    </div>
    <div class="window {% if action == 'forgot' %}active{% endif %}" id="forgot">
      <h2>{{action}}</h2>
      <div class="window-inside">

        <form action="/acc/forgot" method="post">
          <div class="email">
            <input type="text" placeholder="nick" name="nick">
          </div>
          <div class="buttons">
            <input type="submit" value="Remind" name="type">
            <a href="/acc/" class="btn">Cancel</a>
          </div>
        </form>

      </div>
    </div>
    <div class="window {% if action == 'newpass' %}active{% endif %}" id="newpass">
      <h2>{{action}}</h2>
      <div class="window-inside">

        <form action="/acc/newpass" method="post">
          <input type="hidden" name="passToken">
          <div class="pass">
            <input type="password" placeholder="new&nbsp;password" name="newpass">
          </div>
          <input type="submit" value="CHANGE" name="type">
        </form>

      </div>
    </div>
    <div class="window {% if action == 'result' %}active{% endif %}" id="result">
      <h2>{{action}}</h2>
      <div class="window-inside">

        <form action="acc" method="get">
          {{ message | safe}}
          <div class="buttons">
            <a class="btn" href="/acc">Cancel</a>
          </div>
        </form>

      </div>
    </div>
    <div class="window {% if action == 'logout' %}active{% endif %}" id="logout">
      <h2>{{action}}</h2>
      <div class="window-inside">

        <form action="/acc/logout" method="get">
          <input type="hidden" name="logout" value="true">
        </form>
      </div>
    </div>
  </main>
  <footer>
    <div class="options">
      <a class="btn" href="/acc/login">Login</a>
      <a class="btn" href="/acc/forgot">Forgot</a>
      <a class="btn" href="/acc/register">Register</a>
      <a class="btn" href="/">Home</a>  
    </div>
  </footer>

  <script>
    const nick = "{{nick}}";
    const action = "{{action}}";
  </script>
  <script src="/js/modules/account.js"></script>
</body>
</html>