  <div class="index">
    <!-- <h2>Here's a few information about game</h2> -->
    <article><a href="./libary/install">Install Client</a>
      <p>
        You can simply install {{name}} game on your 
        <a href="?page=install#windows">Windows</a>,
        <a href="?page=install#android">Android</a> and 
        <a href="?page=install#ios">iOS</a> device in steps.
      </p>
    </article>
    <article><a href="./libary/controls">Controls</a>
      <p>
        Few information about controls in game. Here you can learn about
        <a href="?page=controls#wt">white targeting</a>, 
        <a href="?page=controls#rt">red targeting</a>, 
        <a href="?page=controls#dt">distance shooting</a> and 
        <a href="?page=controls#healing">healing</a>.
      </p>
    </article>
    <article><a href="./libary/items">Items</a>
      <p>
        Here you've list of items from the game. 
      </p>
    </article>
    <article><a href="./libary/monsters">Monsters</a>
      <p>
        Here you've list of monsters from the game. 
      </p>
    </article>
    <article><a href="./libary/about">About</a>
      <p>
        here's info about authors
      </p>
    </article>

  </div>